:root {
  --primary-color: #42307d;
  --secondary-color: #6941c6;
  --secondary-light-color: #f9f5ff;
  --muted-color: #667085;
  /* --background-color: #ffffff;
  --foreground-color: #171717; */
  /* Add more as needed */
}
